body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d43daf);
}

/* Main card */
body {
    background-image: url("https://wallpapers.com/images/hd/water-aesthetic-v8maa5jrij4dn65f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker-card {
    background: rgba(193, 223, 26, 0.95); 
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    border-radius: 10px;
    
}

/* Progress bar customization */
.progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    background: linear-gradient(#ec4fb8);
    width: 0%;
    transition: width 0.5s ease;
}



