body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d43daf);
}

/* Main card */
body {
    background-image: url("https://wallpapers.com/images/hd/water-aesthetic-v8maa5jrij4dn65f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker-card {
    background: rgba(193, 223, 26, 0.95); 
    width: 100%;
    max-width: 1000px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Progress bar customization */
.progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    background: linear-gradient(90deg, #df2497, #7011ec);
    width: 0%;
    transition: width 0.4s ease;
}

/* Make buttons nicer */
.btn-info {
    color: rgb(0, 0, 0);
}

/* Mobile tweaks */
@media (max-width: 480px) {
    .tracker-card {
        padding: 18px;
        margin: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
}